
.recent-price {
    font-size: 20px;
    font-weight: 600;
}

.ant-card-body {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 0 !important;
}

@media screen and (max-width: 420px) {
    .recent-img, .recent-view-img {
    width: 100% !important
    }
}

.img-overlay {
    // z-index: 2 !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 280px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  .img-overlay2 {
    // z-index: 2 !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 168px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }


.recent-overlay:hover .img-overlay {
    opacity: 0.75 !important;
   
}

.recent-overlay2:hover .img-overlay2 {
    opacity: 0.75 !important;
   
}

