.plus-minus {
  border: none !important;
  background-color: white !important;
}

.ant-collapse-content {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-top: none !important;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 22px 16px 22px 0px !important;
  padding-right: 40px;

  color: #000000 !important;
}

.ant-collapse-content-box {
  padding-left: 0px !important;
}

.ant-collapse {
  border-top: 1px solid #c1c1c1 !important;
  border-radius: 0px !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #c1c1c1 !important;
  border-radius: 0px !important;
}
