.recent-view-img {
  width: 168px;
  height: 168px;
}

.see-all {
  float: right;
  text-decoration: underline;
  color: #9d9c9a !important;
}

.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 0 !important;
 
}
.recent-view-spacing {
  margin-bottom: 24px;

  color: #9d9c9a;
  background-color: none;
  font-size: 18px;
  font-weight: 600;
}

.ant-card {
  border-color: transparent !important;
}

.recent-price {
  color: #408fc6;
}

.recent-title {
  font-weight: 700;
  font-size: 20px;
}

.recentadd-title {
  font-size: 20px !important;
}

@media screen and (max-width: 800px) {
  .top-recent-view {
    top: 460px !important;
    position: relative;
    z-Index: 1;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 800px) {
  .top-recent-view {
    top: 560px;
  position: relative;
  z-Index: 1;
  margin-bottom: 30px;
  }
}

// @media screen and (min-width: 420px) {
//   .top-recent-view2 {
//     top: 400px;
//   position: relative;
//   z-Index: 1;
//   margin-bottom: 30px;
//   }
// }


