.recent-img {
  width: 360px;
  height: 280px;
  
}

.recent-img2 {
  width: 360px;
  height: 280px;
  
}

@media screen and (max-width: 500px) {
  .recent-img2 {
    height: 183px
  }
}

.see-all {
  float: right;
  color: #9d9c9a !important;
}
.ant-card-body {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 0 !important;
 
}

@media screen and (min-width: 500px) {
  .visual-only {
    display: none !important
  }
}

.recent-add-spacing {
  margin-bottom: 24px;
  color: #9d9c9a;
  background-color: none;
  font-size: 18px;
  font-weight: 600;
}

.recent-add-space {
  margin-bottom: 33px;
  color: #9d9c9a;
  background-color: none;
  font-size: 18px;
  // font-weight: 600;
}

.ant-card {
  border-color: transparent !important;
}

.recent-price {
  color: #408fc6;
}

.recent-title {
  font-weight: 700;
  font-size: 20px;
}

.recentadd-title {
  font-size: 20px !important;
}

@media screen and (max-width: 420px) {
  .recent-add-space {
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 800px) {

.top-recent {
  top: 561px;
  position: relative;
  z-Index: 2
}
}

@media screen and (max-width: 800px) {
  .top-recent {
    top: 450px !important;
    position: relative;
    z-Index: 2
  }
}

@media screen and (min-width: 420px) {

  .top-recent2 {
    top: 424px;
    position: relative;
    z-Index: 1;
  }
  }

  @media screen and (max-width: 420px) {

    .top-recent2 {
      top: 270px;
      position: relative;
      z-Index: 1;
    }
    }

