.tab-section {
    background-color: white;
    color: #202B31;
    top: 345px;
  position: relative;
  z-Index: 1;
  font-size: 18px;
  max-width: 1199px;
 height: 81px;
 padding-top: 25px;
//  text-align: center
}

.tab-style {
    font-size: 18px
}


@media (min-width: 992px) {

.ant-col-lg-3 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 13.5% !important;
}

}
 
@media screen and (min-width: 800px) {
    .left-tab {
        margin-left: -15px;
    }
}

.active {
    color: #408FC6;
  }

  .active::after {
    content: "";
   
    width: 100px;
    height: 7px;
    display: block;
    // color: #408FC6;
    // z-index: 99;
    background-color: #408FC6;
    text-align: center;
    margin-top: 9px
   
  }

//   @media screen and (max-width: 800px) {
//     .active {
//       color: #0092c0;
//     }

//     .active::after {
//       content: "";
//       margin-left: -10%;
//       width: 120%;
//       height: 3px;
//       display: block;
//       background: #0092c0;
//     }
//   }