.sell {
    //    right: 271px;
    float: right;
    //    position: absolute;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 40px;
    border: 2px solid #FFFFFF;
    // padding: 0.5px 6px;
    border-radius: 3px;
    width: 120px;
    height: 32px;
    text-align: center;
    color: #FFFFFF
    //    clear: both !important;
  
    // margin-right: 20px;
  }
  
  @media screen and (max-width: 420px) {
    .sell {
      //    right: 271px;
      float: right;
      //    position: absolute;
      font-size: 15px;
      text-align: center;
      margin-top: 6px;
      margin-right: 34.08px;
      border: 2px solid #FFFFFF;
    //   padding: 0.5px 6px;
      border-radius: 3px;
      width: 120px;
      height: 30px;
      color: #FFFFFF
      //    clear: both !important;
  
      // margin-right: 20px;
    }
  }

  .sell:hover {
    background-color: #408fc6 !important;
    color: white;
    border-color: #408fc6 !important
  }