.outer-nav {
  background-color: transparent;
  font-size: 24px;
  padding-top: 35px;
  padding-bottom: 22px;
  color: #FFFFFF;
  font-weight: 600;
  z-index: 2;
  position: absolute;
  width: 100vw;
}

.outer-nav-product {
  background-color: #000000;
  font-size: 24px;
  padding-top: 15px;
  // padding-bottom: 22px;
  color: #FFFFFF;
  font-weight: 600;
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 71px
}

@media screen and (max-width: 420px) {
  .outer-nav {
    background-color: transparent;
    font-size: 24px;
    padding-top: 17px;
    padding-bottom: 22px;
    color: #FFFFFF;
    font-weight: 600;
    z-index: 2;
    position: absolute;
    width: 100vw;
  }
}

// @media screen and (max-width: 420px) {
//     .outernav {
//         padding-top: 20px;
//     }
// }

.circle {
  border: 3px solid #FFFFFF;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 51px;
  vertical-align: middle;
}

@media screen and (max-width: 420px) {
  .circle {
    margin-top: -5px;
  }
}

.title {
  margin-left: 13px;
  vertical-align: middle;
  color: #FFFFFF
}

.cart {
  width: 44px;
  color: #FFFFFF;
  // position: absolute;
  // clear: both;
  overflow: hidden;
  height: 32px;
  // right: 201.08px;
  float: right;
  margin-right: 40px;

  margin-top: 4px;
  vertical-align: middle;
  // clear: both !important;
}

@media screen and (max-width: 420px) {
  .cart {
    width: 40px;
    color: #FFFFFF;
    // position: absolute;
    // clear: both;
    overflow: hidden;
    height: 30px;
    // right: 201.08px;
    float: right;
    margin-right: 43.08px;

    margin-top: 5px;
    vertical-align: middle;
    // clear: both !important;
  }
}

.nice {
  
  float: right
}

@media screen and (max-width: 800px) {
  .title {
    display: none;
  }
}
